<div class="user-info">
  <p>Logged In As: {{userName}}</p>
</div>

<div class="book" rec-ani>
  <div class="book-cover pointer shadow cat" ng-click="getRecipes()">
    <div class="centered">
      <br>
      <h1 class="boxed">My Recipes</h1>
      <p><span style="font-size:30px">(Click to Open)</span></p>
    </div>
  </div>
  <div class="page get">
    <h1>Recipes</h1>
    <!-- <button ng-click="getRecipes()">Get Recipes</button> -->
    <div ng-repeat="eachRecipe in allRecipes">
      <!-- {{eachRecipe}} -->
      <all-recipes each-recipe="eachRecipe" certain-recipe="certainRecipe" get-recipe='getRecipe' meal-list="mealList"></all-recipes>
    </div>
  </div>

  <div class="page new-page">
    <!-- <p style="text-align: right" class='new-page-corner pointer'>Add Recipe</p> -->
    <edit-recipe></edit-recipe>
  </div>

  <div class="page">
    <button type="button" id="go-back" name="button" ng-show="flipped">Go Back</button>
    <button type="button" name="button" ng-click="flipped = !flipped" ng-show="flipped">Edit</button>
    <button type="button" name="button" ng-click="flipped = !flipped" ng-hide="flipped">Go Back</button>
    <single-recipe certain-recipe="certainRecipe" ng-show="flipped"></single-recipe>
    <edit-recipe update="true"  certain-recipe="certainRecipe" ng-hide="flipped"></edit-recipe>
  </div>

  <div class="tab pointer">New Recipe</div>
</div>

<div class="right-side" rec-ani>
  <meal-plan meal-list="mealList"></meal-plan>
</div>

<div class="tri-a"></div>
<div class="tri-b"></div>
