
    <h1>Recipe View</h1>
    {{userId}}
    {{userName}}
    
    <div class="book" rec-ani>
      <div class="page get">
        <button ng-click="getRecipes()">Get Recipes</button>
        <div ng-repeat="eachRecipe in allRecipes">
          <!-- {{eachRecipe}} -->
          <all-recipes each-recipe="eachRecipe" certain-recipe="certainRecipe" get-recipe='getRecipe' meal-list="mealList"></all-recipes>
        </div>
      </div>
      <div class="page">
        <edit-recipe></edit-recipe>
      </div>

      <div class="page">
          <single-recipe certain-recipe="certainRecipe"></single-recipe>
          <edit-recipe update="true"  certain-recipe="certainRecipe"></edit-recipe>
      </div>
    </div>
    <div class="right-side" rec-ani>
      <meal-plan meal-list="mealList"></meal-plan>
    </div>
